//MIXINS FOR APP
@mixin bgImage($image, $height: 100vh, $bgPos: center center, $bgSize: cover) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: $bgSize;
  height: $height;
}
