<!-- ABOUT PAGE VIEW -->
<div class="text-about">
  <h1>This App</h1>
  <p>
    Is a fun app for fun people who have trouble making up their minds.
    It's not meant to be taken seriously, although quite a bit of work was put into taking the work out of making a choice.
  </p>
  <h3>Sugar, spice, and everything nice!</h3>
  <dl>
    <dt>This app was created using:</dt>
    <dd>- Yeoman</dd>
    <dd>- AngularJS</dd>
    <dd>- Bootstrap</dd>
    <dd>- SASS</dd>
  </dl>

  <div class="about-monkey">
  </div>
</div>


<div>
<p><strong>Disclaimer: We are not responsible for your questions or responses!</strong></p>
</div>
