<div class="jumbotron">
  <h1>Yay or Nay!</h1>
  <!-- Min, Max, or remove jumbotrom -->
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Ask away!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Tell Me! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>How to use app</h4>
  <!-- Add input field ex. <p>Name: <input type="text" ng-model="name"></p> next to submit button. Remove current class in this div. -->
</div>
