<!-- LOADING PAGE VIEW -->
<div ng-app ng-controller="MainCtrl">
  <!-- API DATA HERE: DELETED JUMBOTRON -->
  <div class="answer">
    <label class="sr-only" for="image">Yes or no gif/image</label>
    <h1 class="mainPic"><img ng-src="{{ tellMe.image }}" alt="yes or no response image"/></h1>
    <label class="sr-only" for="answer">Yes or no answer</label>
    <h1 class="main-answer">{{ tellMe.answer }}</h1>
  </div>
</div>

<br>

<div class="ask-me">
  <form>
    <label class="sr-only" for="question">Enter a yes or no question:</label>
      <div class="input-group input-group-lg col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <input type="text" class="form-control" name="question" maxlength="50" placeholder="Yay or Nay? Ask away...">
        <div class="input-group-btn">
          <button class="btn btn-default btn-primary" type="submit" ng-click="reloadPage()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
    </form>
 <!-- FORMER BUTTON. INPUT LOOKS BETTER.
  <p>
    <label>Ask away!
      <input type="text" class="input-ask"  placeholder="Should I...">
    </label>
    <button class="btn btn-primary" type="button" ng-click="reloadPage()">Tell Me! <span class="glyphicon glyphicon-ok"></span></button>
  </p>
  -->
</div>

<!-- MONKEY BG IMAGE -->
<div class="main-monkey">
<!-- NADA GOES HERE -->
</div>

<!-- HOW TO ASK QUESTION SECTION -->
<div class="tell-me-how">
  <h4>Got a question? Great! Here's how to ask --</h4>
  <p>Keep in mind that I don't have all the answers in the universe
     but I can help you make your mind up.</p>
       <dl>
         <dt>Ask me stuff, like...</dt>
         <dd>- Should I eat another cookie?</dd>
         <dd>- Thai for dinner?</dd>
         <dd>- Netflix and chill?</dd>
         <dd>- Do I want to go out on the town?</dd>
       </dl>
</div>
